* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
#header {
  background-color: #f8f4f0;
  min-height: 10vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  place-items: center;
  font-family: sans-serif;
}

.logo {
  justify-self: start;
  padding: 0 20px;
  color: #6e4a9e;
}
.nav {
  display: grid;
  width: 100%;
  justify-self: self-end;
  font-size: 1.2rem;
}
a {
  text-decoration: none;
}
.nav a {
  justify-self: self-end;
  color: #6e4a9e;
  font-weight: 900;
  padding: 0 20px;
}
#main-discription {
  min-height: 70vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
  place-items: start;
}
.main-highlight {
  background-color: #ecedef;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.main-img {
  width: 100%;
  object-fit: cover;
  align-self: center;
}
.main-card {
  width: 100%;
  height: 100%;
  display: grid;
  font-size: 1.4rem;
}
.main-title {
  color: #6e4a9e;
  justify-self: center;
  align-self: center;
  font-size: 1em;
}

.main-card > .main-body {
  width: 90%;
  font-size: 0.62em;
  letter-spacing: 0.07em;
  line-height: 1.5em;
  font-weight: 400;
  justify-self: center;
  align-self: start;
  color: #6e4a9e;
}

.main-price {
  font-weight: bold;
  justify-self: center;
  align-self: start;
  width: 90%;
  color: #6e4a9e;
  font-size: 1em;
}

.purpose-highlight {
  background-color: #ecedef;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.purpose-img {
  width: 100%;
  object-fit: cover;
  align-self: center;
}
.purpose-card {
  width: 100%;
  height: 100%;
  display: grid;
  font-size: 1.4rem;
}
.purpose-title {
  color: #6e4a9e;
  justify-self: center;
  align-self: center;
  font-size: 1em;
}

.purpose-card > .purpose-body {
  width: 90%;
  font-size: 0.62em;
  letter-spacing: 0.07em;
  line-height: 1.5em;
  font-weight: 400;
  justify-self: center;
  align-self: start;
  color: #6e4a9e;
}
#footer {
  min-height: 20vh;
  background-color: #f8f4f0;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  font-size: 1.7rem;
  place-items: center;
}
.footer-card {
  width: 90%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.social,
.contact,
.news-letter {
  width: 100%;
  min-height: 70%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
#footer h3,
button,
.social-media {
  color: #6e4a9e;
  font-size: 0.6em;
  text-align: center;
  font-weight: 900;
}

#footer h3 {
  font-size: 0.8em;
}
.social-nav {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.btn-holder {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
}
button {
  background-color: #6e4a9e;
  color: #ecedef;
  width: 70%;
  text-align: center;
  border: none;
  border-radius: 15px;
  padding: 7px;
  margin: 10px;
}
